{
	"SteamAPIKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
	"AccountToCommend": "https://steamcommunity.com/id/gabelogannewell/",
	"CommendsToSend": 400,
	"Commend": {
		"Friendly": true,
		"Teacher": true,
		"Leader": true
	},
	"AccountCooldown": 43200000,
	"RateLimitedCooldown": 5400000,
	"Chunks": {
		"WorkersAtOnce": 4,
		"TimeBetweenWorkerChunks": 30000,
		"CommendsPerChunk": 50,
		"TimeBetweenConnectionAndSending": 2000,
		"BeautifyDelay": 1000
	}
}
